:root {
    --app-font-family: 'Helvetica';
    --app-background-color: #FDFBD0;
    --app-font-size: calc(56px + 0.9vw);
}

html {
    background-color: var(--app-background-color);
    overflow: auto;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}